@font-face {
    font-family: megufont;
    src: url(../assets/fonts/Megufont-Regular.ttf);
}

body {
    font-size: 110%;
    font-family: megufont, sans-serif;
}

body {
    background-color: #FFFBF5;
}

#main-container {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

#search-form { 
    display: flex;
    margin: auto;
}

input[type=text] {
    border-radius: 5px;
    border: gray solid 2px;
    outline: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;   
    font-size: 110%;
    font-family: megufont, sans-serif;
}

input[type=text]:focus {
    border: 2px solid #E6A4B4;
}

button {
    border-radius: 5px;
    font-size: 125%;
    background-color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;   
    border: gray solid 2px;
    font-size: 110%;
    font-family: megufont, sans-serif;
}

button:hover {
    border-color: #E6A4B4;
    background-color: light-gray;
}

button:active {
    background-color: #E6A4B4;
}

main {
    display: grid;
    grid-template-areas: 
        "main-info user-info"
        "main-info repos-info";
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 20px;
    min-height: 700px;
    padding: 20px;
    margin: auto;
    text-align: center;
}


#main-info, #user-info, #repos-info {
    border-radius: 1rem;
    padding: 2em;
}

#user-info, #repos-info {
    text-align: start;
}

#main-info {
    display: flex;
    flex-direction: column;
    grid-area: main-info;
    background-color: #F3D7CA;
}

#pfp {
    border-radius: 1rem;
    margin: auto;
}

#login {
    margin-top: 0px;
    color: darkgray;
}

#user-info {
    grid-area: user-info;
    background-color: #FFF8E3;
}

#repos-info {
    grid-area: repos-info;
    background-color: #F5EEE6;
}

footer {
    text-align: center;
    bottom: 0px;
    left: 0;
    width: 100%;
}


@media only screen and (max-width: 500px) {
    #pfp {
        width: 200px;
        height: 200px;
    }

    #submit-search {
        width: 100px;
    }
}

@media only screen and (min-width: 500px) {
    #pfp {
        width: 350px;
        height: 350px;
    }

    #submit-search {
        width: 120px;
    }
}

@media only screen and (max-width: 680px) {
    #search-form {
        flex-direction: column;
        margin: auto;
        width: 75%;
        height: 100px;
    }
    
    #search-input {
        width: 100%;
        margin-bottom: 10px;
        height: 45px;
    }

    #submit-search {
        margin: auto;
        height: 45px;
    }
}

@media only screen and (min-width: 680px) {
    #search-form {
        width: 50%;
        height: 45px;
    }

    #search-input {
        width: 70%;
        height: 100%;
        margin-right: 15px;
    }

    #submit-search {
        width: 125px;
        height: 100%;
    }

    #pfp {
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 840px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 840px) {
    html, body {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
}
